.section-format {
    padding-top: 120px;
}

.section-format__container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.section-format__container div {
    padding: 0 10px;
}

.section-format .section-format__title h1 {
    margin-top: 80px;
    text-align: center;
    font-size: 50px;
    color: #303030
}

.section-format picture img {
    width: 35vw;
    height: 45vh;
    object-fit: cover;
}

.section-format picture .img {
    margin-top: 20px;
}

.section-format_textcha {
    font-size: 0.9rem;
    width: 400px;
    font-weight: 400;
}


@media screen and (max-width: 1167px) {

    .section-format {
        margin-top: -90px;

    }

    .section-format .section-format__title h1 {
        font-size: 40px;
    }

    .section-format__container {
        text-align: center;
    }
}

@media screen and (max-width: 900px) {
    .section-format {
        margin-top: -120px;
    }

    .section-format_cards img {
        margin-top: -5px;
    }

    .section-format .section-format__title h1 {
        font-size: 30px;
    }

    .section-format_textcha h3 {
        font-size: 16px;
    }

    .section-format_textcha p {
        font-size: 13px;
    }
}

@media screen and (max-width: 840px) {
    .section-format_textcha {
        width: 310px;
    }

    .section-format {
        margin-top: -120px;
    }

    .section-format__container img {
        margin-top: -22px;
        text-align: center;
    }

    .section-format .section-format__title h1 {
        font-size: 30px;
    }

    .section-format_textcha h3 {

        font-size: 16px;
        padding: 0 10px;
    }

    .section-format_textcha p {
        font-size: 14px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 656px) {
    .section-format__container {
        flex-wrap: wrap;
    }

    .section-format_textcha {
        width: 470px;
    }

    .section-format_cards picture img {
        width: 80%;
        height: 10%;
    }
}


@media screen and (max-width: 490px) {
    .section-format {
        margin-top: -115px;
    }

    .section-format__container {
        gap: 30px;
    }

    .section-format_textcha {
        width: 350px;
    }

    .section-format_cards picture img {
        width: 80%;
        height: 10%;
    }

    .section-format .section-format__title h1 {
        font-size: 23px;
        line-height: 40px;
    }

    .section-format_textcha h3 {
        font-size: 20px;
        padding: 0 10px;
    }

    .section-format_textcha p {
        font-size: 16px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 370px) {
    .section-format_cards picture img {
        width: 100%;
    }

    .section-format_textcha {
        width: 330px;
        text-align: left;
    }

    .section-format_textcha p {
        font-size: 14px;
        padding: 0 10px;
    }
}

@media screen and (max-width: 350px) {
    .section-format_textcha {
        width: 260px;
    }

    .section-format_textcha p {
        font-size: 12px;
    }
}