/* https://proweb.uz//media/video2.1d19a61e.mp4 */
:root {
  background-color: #fff;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 70vh;
}

.header img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 80vh;
  object-fit: cover;
  filter: brightness(25%);
}

.header .datacha {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 70vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header .datacha h1 {
  font-size: 4.3rem;
  margin-top: 30px;
}

.header .datacha h4 {
  margin-top: 0px;
  font-size: 1.2rem;
  font-weight: normal;
}

.header .datacha button {
  margin-top: 25px;
  width: 290px;
  height: 50px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
  transition: all 0.7 linear;
  border-radius: 1px;
}

.header .datacha button:hover {
  transition: 0.2s linear;
  background-color: #fff;
  color: #000;
}

.header .datacha button:active {
  transform: scale(0.77);
}


.datacha .button-headeer:hover {
  background: #fff;
}

.datacha a {
  color: #fff;
}

.datacha .button-headeer:hover a {
  color: black;
}


/* About section */
.about-section {
  height: 230px;
  background: #f4f4f4;
}

.about-sections {
  height: 300px;
  background: #f4f4f4;
}

.about-section__container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  justify-content: space-around;
  grid-template-columns: 2fr 4fr;
}

.about-section__title h1 {
  padding: 10px;
  font-size: 2.5rem;
  opacity: 0.8;
  position: relative;
  top: 15%;
}

.about-section__titles p {
  font-size: 1.4rem;
  font-weight: 100;
  margin-top: 30px;
}

.course-info {
  padding: 50px 0;
  background: #f4f4f4;
}

.course-info_header__title {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #303030;
}

.course-info__content {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.course-info__card {
  text-align: center;
  width: 700px;
  flex: 0 1 48%;
  padding: 20px 20px 100px;
  border-bottom: 2px solid #ebebeb;
}

.course-info__imgs img {
  object-fit: contain;
  width: 216px;
  max-height: 100px;
}

.course-info__title {
  margin: 40px 0 14px;
  font-size: 20px;
  color: #303030;
  font-weight: 700;
}

.course-info__text {
  font-size: 16px;
  color: #646464;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.course__program_header {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.course__program_title {
  font-size: 40px;
  font-weight: bold;
  color: #303030;
}

.course__program_text {
  width: 90%;
  font-size: 22px;
  color: #303030;
  opacity: 0.6;
}

.course__program {
  padding: 60px 0;
  background: #f4f4f4;
}

.course__program_header {
  display: flex;
}

.course__program_cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.course__program_card {
  padding: 20px;
  text-align: center;
  margin: 150px auto 0 auto;
  flex: 0 1 30%;
  background-color: #fff;
}

.course__program_card-img img {
  width: 100%;
  margin-top: -100px;
}

.course__program_card-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #303030;
}

.course__program_card-text {
  font-size: 16px;
  opacity: 0.6;
}

/* responsive media queries */

@media screen and (max-width: 1319px) {
  .header img {
    width: 100%;
    height: 100vh;
  }

  .header .datacha h1 {
    font-size: 5rem;
  }

  .header .datacha h4 {
    font-size: 2rem;
  }

  .header .datacha button {
    margin-top: 40px;
    width: 400px;
    height: 50px;
    font-size: 15px;
  }

  .about-section {
    height: 250px;
  }

  .about-sections {
    height: 295px;
  }

  .about-section__title1 h1 {
    margin-top: 35px;
    font-size: 1.8rem;
  }

  .about-section__titles2 p {
    margin-top: 35px;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1023px) {

  .header img {
    width: 100%;
    height: 100vh;
  }

  .header .datacha h1 {
    font-size: 4rem;
  }

  .header .datacha h4 {
    font-size: 1rem;
  }

  .about-section__title h1 {
    font-size: 1.8rem;
  }

  .about-section__titles2 {
    margin-top: -10px;
  }

  .course-info_header__title {
    font-size: 36px;
 }

 .course-info__card {
    text-align: center;
    width: 600px;
    padding: 20px 20px 80px;
 }

 .course-info__img img {
    width: 216px;
 }

 .course-info__title {
    margin: 30px 0 14px;
    font-size: 18px;
 }

 .course-info__text {
    font-size: 14px;
 }

 .course__program_title {
  font-size: 30px;
}

.course__program_text {
  font-size: 18px;
}

.course__program_card-title {
  font-size: 20px;
  margin: 10px 0;
}

.course__program_card-text {
  font-size: 14px;
  opacity: 0.6;
}
}

@media screen and (max-width: 900px) {
  .header img {
    width: 100%;
    height: 100vh;
  }

  .header .datacha h1 {
    font-size: 2.5rem;
  }

  .header .datacha h4 {
    margin-top: 10px;
    font-size: 1rem;
  }

  .header .datacha button {
    margin-top: 40px;
    width: 200px;
    height: 40px;
    font-size: 15px;
  }

  .about-section {
    height: 145px;
  }

  .about-section__container2 {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-section .about-section__title h1 {
    margin-top: 10px;
    font-size: 1rem;
  }

  .about-section .about-section__titles p {
    font-size: 0.840rem;
  }

  .about-sections .about-section__title1 h1{
    margin-top: 10px;
  }

  .about-sections .about-section__titles2 p {
    margin-top: 10px;
  }

  .salary_programmmers h1 {
    font-size: 1rem;
  }

  .course-info {
    padding: 30px 0;
 }

 .course-info_header__title {
    font-size: 28px;
 }

 .course-info__card {
    width: 500px;
    padding: 20px 20px 60px;
 }

 .course-info__img img {
    object-fit: cover;
 }

 .course-info__title {
    width: 90%;
    margin: 0 auto;
    margin: 20px 0 14px;
    font-size: 16px;
 }

 .course-info__text {
    width: 90%;
    margin: 0 auto;
    font-size: 13px;
 }

 .course__program_title {
  font-size: 24px;
}

.course__program_text {
  font-size: 14px;
}

.course__program_card {
  margin-top: 100px;
}

.course__program_cards {
  justify-content: center;
}

.course__program_card-title {
  font-size: 18px;
}

.course__program_card-text {
  font-size: 12px;
}

.course__program_card-img img {
  width: 90%;
  margin-top: -70px;
}

}

@media screen and (max-width: 768px) {
  .course-info {
     padding: 10px 0;
  }

  .course-info_header__title {
     font-size: 20px;
  }

  .course-info__card {
     flex: 0 1 100%;
     padding: 0px 20px 40px;
  }

  .course-info__title {
     margin: 18px auto 14px auto;
     font-size: 15px;
  }

  .course-info__text {
     font-size: 12px;
  }

  .course__program_header {
    flex-direction: column;
 }

 .course__program_title {
    font-size: 20px;
    margin-bottom: 10px;
 }

 .course__program_text {
    font-size: 12px;
 }

 .course__program_card-title {
    font-size: 18px;
 }

 .course__program_card-text {
    font-size: 12px;
    width: 90%;
    margin: 0 auto;
 }

 .course__program_cards {
    justify-content: center;
 }

 .course__program_card {
    flex: 0 1 100%;
    background: transparent;
 }

 .course__program_card-img img {
    width: 75%;
    height: 100%;
 }
}

@media screen and (max-width: 734px) {
  .about-section {
    height: 190px;
  }

  .about-sections .about-section__title1 h1 {
    margin-top: 10px;
    font-size: 1.3rem;
  }

  .about-sections .about-section__titles2 p {
    margin-top: 20px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 602px) {
  .about-section {
    height: 180px;
  }

  .about-sections {
    height: 340px;
  }
}

@media screen and (max-width: 576px) {
  .header img {
    width: 100%;
    height: 100%;

  }

  .header .datacha h1 {
    font-size: 2rem;
    margin: 0;
  }

  .header .datacha h4 {
    margin-top: 5px;
    font-size: 1rem;
  }

  .header .datacha button {
    margin-top: 20px;
    width: 120px;
    height: 25px;
    font-size: 9px;
  }

  .about-section {
    height: 210px;
  }

  .about-section__container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-section__titles p {
    margin-top: -5px;
  }

  .about-section__title h1 {
    margin-top: 30px;
    font-size: 0.5rem;
  }

  .header .datacha h1 {
    font-size: 1.5rem;
  }

  .header .datacha h4 {
    font-size: 0.7rem;
  }

  .about-sections .about-section__titles2 p {
    margin-top: 10px;
    font-size: 0.9rem;
  }

  .about-sections .about-section__title1 h1{
    font-size: 1.2rem;
  }

  .about-section p {
    font-size: 0.8rem;
  }

  .salary_programmmers h1 {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 375px) {
    .about-sections {
      height: 290px;
    }

    .about-sections .about-section__title1 h1 {
      font-size: 1rem;
      margin-top: 10px;
    }

    .about-sections.about-section__titles2 p {
      font-size: 0.8rem;
      margin-top: 5px;
    }

  }

  @media screen and (max-width: 360px) {
    .header img {
      width: 100%;
      max-width: 100%;

    }

    .header .datacha h1 {
      font-size: 1.5rem;
      margin: 0;
    }

    .header .datacha h4 {
      margin-top: 5px;
      font-size: 0.7rem;
    }


    .about-section__container {
      height: 10vh;
    }

    .about-section__titles p {
      margin-top: 20px;
      font-size: 0.4rem;
    }

    .about-section__titles2 p {
      margin-top: 40px;
    }

    .about-sections .about-section__title1 h1 {
      font-size: 1rem;
      margin-top: 160px;
    }

    .about-sections .about-section__titles2 p {
      font-size: 0.8rem;
      margin-top: 50px;
    }

    .about-section .about-section__title h1 {
      margin-top: 110px;
      font-size: 1rem;
    }

    .salary_programmmers h1 {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: 300px) {
  .header .datacha h1 {
    font-size: 1.2rem;
  }

  .about-section__title h1 {
    margin-top: 70px;
  }

  .about-section__title1 h1 {
    margin-top: 130px;
  }
}

@media screen and (max-width: 288px) {
  .about-sectionn {
    height: 450px;
  }

  .about-section {
    height: 230px;
  }

  .about-section__title h1 {
    margin-top: 95px;
  }

  .about-section__titles p {
    margin-top: 63px;
  }

  .about-section__title1 h1 {
    font-size: 0.8rem;
    margin-top: 130px;
  }

  .about-section__titles2 p {
    font-size: 0.7rem;
    margin-top: 90px;
  }
}