@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*/ * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}


/* Scrollbar section */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #171C24;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

/* Certificated Section */
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 40px;
}

.flex-image img {
  transition: transform .5s ease;
  width: 370px;
}

.flex-image img:hover {
  transform: scale(1.2);
}

.certifated-section {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 567px) {
  .certificated-title {
    margin-top: 10px;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 360px) {
  .flex-container {
    text-align: center;
    margin-top: 20px;
  }

  .flex-image img {
    width: 90%;
  }

  .certificated-title {
    font-size: 1.3rem;
  }
}

/* Map section */

.i-map__map {
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.i-map__maps {
  width: 90%;
  margin: auto;
  filter: invert(1);
}